.vscode
__pycache__

/target
*.pyd
*.dll
*.exe
*.so
*.pth

.ipynb_checkpoints
*.ipynb

/_draft
docs/src/user/grp_optimization.md
/mortal/grp_data
/mortal/grp_v2
mortal/temp.txt
OPTIMIZATION_PLAN.md
libriichi/release/
nul
mortal/baseline_v1/
mortal/1v3/log/
mortal/mortal_v2/log/
mortal/mortal_v2/
online-training-fix.md
mortal/script/out/
*.txt
